@charset "UTF-8";
*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

html { position: relative; }
html body { position: relative; display: inline-block; width: 100%; margin: 0; padding: 0; color: #5a5a5a; text-align: center; font-size: medium; font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif; }
html body::-moz-selection { color: white; background-color: #78baff; }
html body::selection { color: white; background-color: #78baff; }

.loader { position: relative; width: 78px; height: 78px; margin: auto; margin-top: 100px; }
.loader:after { position: absolute; content: '載入中...'; top: 0; left: 0; }
.loader .circle { position: absolute; top: 0; width: 100px; height: 100px; opacity: 0; transform: rotate(225deg); animation-iteration-count: infinite; animation-name: orbit; animation-duration: 5.5s; }
.loader .circle:after { content: ''; position: absolute; width: 10px; height: 10px; border-radius: 5px; background: #336a7d; /* Pick a color */ }
.loader .circle:nth-child(2) { animation-delay: 240ms; }
.loader .circle:nth-child(3) { animation-delay: 480ms; }
.loader .circle:nth-child(4) { animation-delay: 720ms; }
.loader .circle:nth-child(5) { animation-delay: 960ms; }

@keyframes orbit { 0% { transform: rotate(225deg); opacity: 1; animation-timing-function: ease-out; }
  7% { transform: rotate(345deg); animation-timing-function: linear; }
  30% { transform: rotate(455deg); animation-timing-function: ease-in-out; }
  39% { transform: rotate(690deg); animation-timing-function: linear; }
  70% { transform: rotate(815deg); opacity: 1; animation-timing-function: ease-out; }
  75% { transform: rotate(945deg); animation-timing-function: ease-out; }
  76% { transform: rotate(945deg); opacity: 0; }
  100% { transform: rotate(945deg); opacity: 0; } }
